.crossover-color {
  color: #fff;
  background-color: #968074;
  border-color: #968074;
}

.center-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 200px;
  width: 100%;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.posts-card {
  background-color: #9c9464;
  border-color: #9c9464;
}

.posts-color {
  color: #968074
}

.post-color-light {
  background-color: #FBEBE2;
}

.cursor:hover{
  cursor: pointer;
}

.liked-post {
  color: #f1cd79;
}
